extends ./layout

block header
block body
	script.
		(function(d) {
		var wf = d.createElement('script'), s = d.scripts[0];
		wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
		s.parentNode.insertBefore(wf, s);
		})(document);
	#canadEditor(data-workid="#{currentArtboard.workid}")
		.canad-editor-topbar
			.presets
				a.btn.btn-withicon.orange(href='javascript:;', data-action='presets')
					.icon
						img(src='/images/icons/icon-preset.svg')
					span PRESETS
			.easy-setting
				.privacy-setting
					.toggle-component
						if (currentArtboard.public)
							input#privacysetting(type='checkbox', name='privacysetting' checked)
							label(for='privacysetting')
								.ball
						else
							input#privacysetting(type='checkbox', name='privacysetting')
							label(for='privacysetting')
								.ball
				.save
					a.btn.btn-withicon.blue(href='javascript:;', data-action='saveJSON')
						.icon
							img(src='/images/icons/icon-save.svg')
						span SAVE
				a.btn.btn-withicon.red(href='/user')
					.icon
						img(src='/images/icons/icon-close.svg')
					span Leave
			
			if currentArtboard.subcategory
				#current-preset
					|	Current Preset : #{currentArtboard.subcategory.slug} / #{currentArtboard.subcategory.width} x #{currentArtboard.subcategory.height}
				script.
					var currentSubcategory = '#{currentArtboard.subcategory.id}';
			else
				script.
					var currentSubcategory;

		//Artboard
		include ../assets/templates/artboard
		//Menu
		#menu
			.menu-inner
				ul.tools
					li
						a.basic.js-add-rect(href="javascript:;" title="新增矩形", data-action='addRect')
							i.fa.fa-object-group.fa-lg
					
					li
						a.basic.js-add-circle(href="javascript:;" title="新增圓形", data-action='addCircle')
							i.fa.fa-circle-thin.fa-lg
					li
						a.basic.js-add-image(href="javascript:;" title="新增圖片", data-action='addImage')
							i.fa.fa-image.fa-lg
					li
						a.basic.js-add-text(href="javascript:;" title="新增文字", data-action='addText')
							i.fa.fa-font.fa-lg
					li
						a#undo.edit(href="javascript:;" title="上一步")
							i.fa.fa-reply.fa-lg
					li
						a#redo.edit(href="javascript:;" title="下一步")
							i.fa.fa-share.fa-lg
					li
						a.delete.js-dispose(href="javascript:;" title="清除所有物件", data-action='disposeAll')
							i.fa.fa-eraser.fa-lg
				
				ul.tools
					li
						a.edit.js-setting(href="javascript:;" title="版面設定", data-action='artboardSettings')
							i.fa.fa-cogs.fa-lg
						
					li
						a.edit.js-save(href="javascript:;" title="儲存", data-action='saveState')
							i.fa.fa-floppy-o.fa-lg
						ul
							li
								a.edit.js-save-json(href='javascript:;') JSON

		//CanvasSetting (Stand Alone Now)
		include editor/canvassettings
		//ImageLibrary
		#imageLibrary
			input#imageUploader(type='file' name='file')
			label(for="imageUploader")
				.filename
				span Choose a file

		#loader
			.loader-inner
				img(src='/images/components/load.svg')
				p Initializing
block footer
block pagescripts
	script(src="/js/editor/vendor/fabric.js")
	script(src="/js/editor/editor/extensions/cc.Extensions.js")
	script(src="/js/editor/CanvasComposer.js")
	script(src="/js/editor/editor/cc.View.js")
	script(src="/js/editor/editor/cc.Initial.js")
	script(src="/js/editor/editor/cc.Load.js")
	script(src="/js/editor/editor/cc.History.js")
	script(src="/js/editor/editor/cc.Presets.js")
	script(src="/js/editor/editor/cc.Menu.js")
	script(src="/js/editor/editor/cc.Menu.ContextMenu.js")
	script(src="/js/editor/editor/cc.Hotkey.js")
	script(src="/js/editor/editor/cc.Artboard.js")
	script(src="/js/editor/editor/cc.Attributions.js")
	script(src="/js/editor/editor/cc.Attributions.canvas.js")
	script(src="/js/editor/editor/cc.bindEvents.js")
	script(src="/js/editor/editor/cc.MediaLibrary.js")
	script(src="/js/editor/editor/cc.Log.js")
	script(src="/js/editor/editor/cc.WeatherAPI.js")
	script(src="/js/editor/vendor/spectrum.js")
	script(src="/js/editor/vendor/Sortable.min.js")
	script(src="/js/editor/editor/cc.Api.js")
	script(src="/js/editor/vendor/moments.js")
	script.

		var data = {
			workData: !{JSON.stringify(currentArtboard.data)}

		};

		CanvasComposer.init(data.workData,{
			'width': '#{currentArtboard.workwidth}',
			'height': '#{currentArtboard.workheight}'
		});

		//bindEvent
		var categorylist = !{JSON.stringify(categorylist)};
		var selectedCate;
		$('.btn-update').addClass('disabled');
		//subcategory state
		$(window).load(function(){
			$.ajax({
				url: '/category/' + $('#category-selector option:selected').val(),
				method: 'GET',
				success: function(cate) {
					for (var i = 0; i < cate.sizes.length; i ++) {
						if (cate.sizes[i].id == currentSubcategory) {
							$('#subcategory-selector').append('<option value="' + cate.sizes[i].id + '" data-width=' + cate.sizes[i].width + ' data-height=' + cate.sizes[i].height + ' selected>' + cate.sizes[i].slug + ' ( ' + cate.sizes[i].width + ' x ' + cate.sizes[i].height + ' )</option>');

							 //Set Canvas tip tags
								$('.sizeTag .tag.width span').html(cate.sizes[i].width);
							 //Set Canvas tip tags
								$('.sizeTag .tag.height span').html(cate.sizes[i].height);
						} else {
							$('#subcategory-selector').append('<option value="' + cate.sizes[i].id + '" data-width=' + cate.sizes[i].width + ' data-height=' + cate.sizes[i].height + '>' + cate.sizes[i].slug + ' ( ' + cate.sizes[i].width + ' x ' + cate.sizes[i].height + ' )</option>');
						}
					}
					updatePresetList();
				}
			}).fail(function(err){
				alert(err);
			})
		});
		$('#category-selector').on('change', function(){
			selectedCate = $(this).val();
			console.log( selectedCate );
			for (var i = 0; i < categorylist.length; i ++) {
				if ( selectedCate == categorylist[i].id ){
					return selectionRenew(categorylist[i].sizes);
				};
			}
			updatePresetList();
		});

		$('#subcategory-selector').on('change', function(){
			updatePresetList();
		});

		function selectionRenew(subcategory) {
			$('#subcategory-selector').empty();
			for (var i = 0; i < subcategory.length; i ++) {
				$('#subcategory-selector').append('<option value="' + subcategory[i].id + '" data-width=' + subcategory[i].width + ' data-height=' + subcategory[i].height + '>' + subcategory[i].slug + ' ( ' + subcategory[i].width + ' x ' + subcategory[i].height + ' )</option>');
			}
		}
		function updatePresetList(){
			$('.btn-update').addClass('disabled');
			//Get Works From subcategory
			$.ajax({
				url: '/size/' + $('#subcategory-selector').val(),
				method: 'GET',
				success: function(subcate){
					console.log(subcate.works);
					if (subcate.works.length > 0) {
						$('.preset-list').empty();
						for (var i = 0; i < subcate.works.length; i++ ) {
							$('.preset-list').append('<div class=preset><a href=/editor/' + subcate.works[i].workid + '><div class=thumbnail><img src=' + subcate.works[i].thumbnail + '></div></a></div>')
						}
					}
					$('.btn-update').removeClass('disabled');
				}
			});
		}