extends ./layout


block body
	.restrict
		section#works
			.restrict
				if privateworks.length < 1
					.centered
						h1 You don't have any works in the box. Make one right now.
						.call-action
							a.btn.confirmation(href='/editor/') CREATE
				else
					.work-list
						ul
							each work in privateworks
								li
									.thumbnail
										a(href='/editor/' + work.workid)
											img(src='/' + work.thumbnail)
									.caption
										.author=work.author
										.created=work.createdAt
										.updated=work.updatedAt
										.public=work.public
										.workid=work.workid
			