extends ./layout
block hero
	p.
		xxx
block body
	//- p #{publicworks}
	section#works
		.restrict
			.work-list
				ul
					each work in publicworks
						li
							.thumbnail
								img(src=work.thumbnail)
							.caption
								.author=work.author
								.created=work.createdAt
								.updated=work.updatedAt
								.public=work.public