extends ./layout
block hero
	h1 Showroom
block body
	//- p #{publicworks}
	section#works
		.restrict
			.work-list
				ul
					each work in publicworks
						li
							.thumbnail
								a(href='/editor/' + work.workid)
									img(src='/' + work.thumbnail)
							.caption
								.author=work.author.username
								.created=work.createdAt
								.updated=work.updatedAt
								.public=work.public
								.workid=work.workid
								// .data=work.data